body{
   /* background-color: pink;*/
   background-image: url(fondo.jpg);
}
p{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(59, 196, 128);
}
h1{
    font-size: xx-large;
}